
*.user
*.suo
*.ncrunchsolution
/_ReSharper.FluentACS
/FluentACS/_ReSharper.FluentACS
/FluentACS/bin
/FluentACS/obj
/FluentACSTest/bin
/FluentACSTest/obj
/FluentACSTest/App.config.private
/FluentACSTest/App.config.repo
/SampleApp/bin
/SampleApp/obj
/SampleApp/app.config.private
/SampleApp/app.config.repo
