<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="acsNamespace" value="somenamespace"/>
        <add key="acsUserName" value="ManagementClient"/>
        <add key="acsPassword" value="T+bQtqP21BaCLO/8D1hanRdKJF8ZYEV8t32odxP4pYk="/>
    </appSettings>
</configuration>