<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="acsNamespace" value="fluentacsd6"/>
        <add key="acsUserName" value="ManagementClient"/>
        <add key="acsPassword" value="WBI6j+fRYIWiiVMImZllDGqVh9NIDfcnjrdHJTvsQLg="/>
    </appSettings>
</configuration>