<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="acsNamespace" value="fluentacsd6"/>
    <add key="acsUserName" value="ManagementClient"/>
    <add key="acsPassword" value="WBI6j+fRYIWiiVMImZllDGqVh9NIDfcnjrdHJTvsQLg="/>
    <add key="facebookAppId" value="104742876371229"/>
    <add key="facebookAppSecret" value="f6a532bdbd45218267c365183825463b"/>
    <add key="facebookAppNamespace" value="fluentacstestdsix"/>
  </appSettings>
</configuration>