<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="acsNamespace" value="somenamespace"/>
        <add key="acsUserName" value="ManagementClient"/>
        <add key="acsPassword" value="T+bQtqP21BaCLO/8D1hanRdKJF8ZYEV8t32odxP4pYk="/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
